<!DOCTYPE html>
<html>
<head>
    <title>Payment Form</title>
</head>
<body>
    <h1>CCAvenue Payment Form</h1>
    <form method="post" action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
        <input type="hidden" name="encRequest" value="<%= encryptedData %>">
        <input type="hidden" name="access_code" value="<%= accessCode %>">
        <input type="hidden" name="order_id" value="<%= order_id %>">
        <input type="hidden" name="currency" value="<%= currency %>">
        <input type="hidden" name="amount" value="<%= amount %>">
        <input type="hidden" name="redirect_url" value="http://your_domain.com/redirect"> <!-- Replace with your redirect URL -->
        <input type="hidden" name="cancel_url" value="http://your_domain.com/cancel"> <!-- Replace with your cancel URL -->
        <input type="submit" value="Proceed to Payment">
    </form>
</body>
</html>
